## First Order Metrics

In [1]:
import pandas as pd
import numpy as np
import json
bucket_type = 'top19'

type_list_path = f'/l/users/shikhar.srivastava/data/pannuke/{bucket_type}/selected_types.csv'
type_list = pd.read_csv(type_list_path)['0']
metrics = pd.DataFrame(columns=['type', 'acc', 'dice', 'loss'])
for type in type_list:
    logs_path = f'/l/users/shikhar.srivastava/workspace/hover_net/logs/first_order/{bucket_type}/ckpts/{type}/01/stats.json'
    with open(logs_path) as f:
        logs = json.load(f)['50']
    metrics = metrics.append({'type': type, 'acc': logs['valid-np_acc'], 'dice': logs['valid-np_dice'], 'loss': logs['train-overall_loss']}, ignore_index=True)

In [2]:
metrics

             type       acc      dice      loss
0          Breast  0.947532  0.802900  2.917168
1           Colon  0.930303  0.813629  3.005166
2   Adrenal_gland  0.964317  0.860937  2.700083
3       Esophagus  0.936332  0.852236  3.228153
4       Bile-duct  0.958690  0.829366  2.983318
5        HeadNeck  0.966976  0.844222  3.047655
6          Cervix  0.940606  0.861721  2.957558
7         Thyroid  0.955955  0.872084  2.832326
8           Liver  0.961914  0.873713  2.624011
9          Testis  0.952896  0.839022  2.739956
10     Pancreatic  0.950370  0.835968  2.869864
11           Skin  0.932519  0.868724  3.210035
12         Uterus  0.918290  0.849384  3.501212
13           Lung  0.927361  0.821756  3.337064
14       Prostate  0.939962  0.855619  3.206274
15        Ovarian  0.933320  0.857147  2.960247
16        Stomach  0.949164  0.885156  3.075186
17        Bladder  0.968080  0.878959  3.277261
18         Kidney  0.962448  0.865678  2.888649

## Second Order Metrics

In [20]:
import pandas as pd
import numpy as np
import json
bucket_type = 'top5'

type_list_path = f'/l/users/shikhar.srivastava/data/pannuke/{bucket_type}/selected_types.csv'
type_list = pd.read_csv(type_list_path)['0']
metrics = pd.DataFrame(columns=['source_type','target_type', 'acc', 'dice', 'loss'])
for source_type in type_list:
    for target_type in type_list:
        logs_path = f'/l/users/shikhar.srivastava/workspace/hover_net/logs/second_order/{bucket_type}/ckpts/{source_type}-{target_type}/stats.json'
        with open(logs_path) as f:
            logs = json.load(f)['50']
        metrics = metrics.append({'source_type': source_type, 'target_type': target_type, 'acc': logs['valid-np_acc'], 'dice': logs['valid-np_dice'], 'loss': logs['train-overall_loss']}, ignore_index=True)

In [21]:
metrics.pivot_table(index='source_type', columns='target_type', values='acc')

target_type    Adrenal_gland  Bile-duct    Breast     Colon  Esophagus
source_type
Adrenal_gland       0.975781   0.970176  0.953206  0.944140   0.959045
Bile-duct           0.974200   0.971785  0.952998  0.942867   0.959940
Breast              0.973522   0.969827  0.957857  0.946156   0.959767
Colon               0.971806   0.969518  0.954024  0.951965   0.957458
Esophagus           0.974043   0.969925  0.952683  0.942557   0.962185

In [22]:
metrics.pivot_table(index='source_type', columns='target_type', values='dice')

target_type    Adrenal_gland  Bile-duct    Breast     Colon  Esophagus
source_type
Adrenal_gland       0.901478   0.889520  0.864667  0.834428   0.891240
Bile-duct           0.895150   0.896330  0.863819  0.833163   0.893341
Breast              0.892318   0.888322  0.877305  0.840373   0.891873
Colon               0.884580   0.887132  0.866169  0.856614   0.887477
Esophagus           0.893824   0.888964  0.861948  0.830506   0.899792

In [23]:
metrics.pivot_table(index='source_type', columns='target_type', values='loss')

target_type    Adrenal_gland  Bile-duct    Breast     Colon  Esophagus
source_type
Adrenal_gland       2.889199   3.414583  3.601528  3.578019   3.091034
Bile-duct           3.098608   3.292096  3.492840  3.563899   3.076532
Breast              3.050590   3.442894  3.142640  3.440628   3.110794
Colon               3.233108   3.519279  3.447159  3.018823   3.171385
Esophagus           3.117095   3.447486  3.626762  3.613839   2.943885